body{
    text-align: center;
    font-family: courier;
    color: rgb(88, 25, 204);
    font-size: 14px;
    margin: 0;
    padding: 0;
}
body{
   background:black;
}
img{
   padding: 1em;
align-items:center;
    width: 70%;
    margin: auto;
    border: 5px ;
}
#cabecera {
  
    background: rgb(21, 255, 0);
    font-size: 18px;
}
#cabecera span{
    background :rgb(21, 255, 0);
   
}
#cabecera #logo{
    width: 30px;
    vertical-align: middle;
}
#cabecera  #titulo{
    font-size: 18px;
    background-color: aqua;
}
#container
{
    width: 70%;
    padding: 1em;
    background-color: rgb(131, 55, 231);
    text-align: left;
    margin: auto;
    border: 1px solid blanchedalmond;
}
#container h5{
    font-size: 20px;
    background: white;
}
#container p{
    font-size: 20px;
    background: white;
}
.parrafo{
    font-size: 25px;
    background-color:red ;
    color:black;
    
}
#footer{
    color: rgb(21, 255, 0);
    font-size:20px;
}
