body{
    text-align: center;
    font-family: Arial;
    color: rgb(46, 204, 25);
}

#cabecera {
    background: rgb(255, 123, 0);
}
#container{
    width: 70%;
    padding: 1em;
    background-color: blue;
    border-radius: 15px;
}